:root {
    /* переменные цвета */
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorBlack2: #222222;
    --colorGrey: #757575;
    --colorRed: #f44336;
    --colorGreen: #4CAF50;
    --colorOverlay: rgba(0, 0, 0, 0.8);
}
.subscribe-container{
    background-color: var(--colorWhite);
    width: 100%;
    h1{
        text-align: center;
        background-color: var(--colorBlack);
        padding: 0.5rem;
        text-transform: capitalize;
        font-weight: 500;
    }
   
    .form-content{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem;
         p{
        color: var(--colorBlack);
    }
    form{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;
        input{
            padding: 10px;
        }
        button{
            padding: 10px;
            background-color: var(--colorRed);
            border: none;
            font-size: 1rem;
            text-transform: capitalize;
            &:hover{
                opacity: 0.8;
            }
        }
    }


    }

}