:root {
    /* переменные цвета */
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorBlack2: #222222;
    --colorGrey: #757575;
    --colorRed: #f44336;
    --colorGreen: #4CAF50;
    --colorOverlay: rgba(0, 0, 0, 0.8);
}
.tags-container{
        display: flex;
       margin-bottom: 0.5rem;
       align-items: center;
       justify-content: center;
      
        span{
        color:var(--colorWhite) ;
        background-color: var(--colorBlack2);
        padding:0.5rem 2rem;
       
       cursor: pointer;
       &:hover{
        opacity: 0.8;
       }
    
    }

    }
        
    