.MobileNavbar-container{
  width: 100vw;
  height: 100vh;
  background-color: #7e61e7;
  position: relative;
  display: none;
 
}
nav{

  background-color: #342864;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0rem;

  h2{
    margin:2rem 1rem;
    font-size: 25px;
    margin-bottom: 2rem;
    
  }
  
  ul{
 
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60vh;
    height: 100vh;
    padding: 2rem;
    li{
     
      a{
      text-decoration: none;
      font-size: 1.3rem;
      position: relative;
       &::before{
        content: " ";
        width: 2rem;
        height: 0.2rem ;
        background:linear-gradient(98deg, #a993fe 0%, #7e61e7);
        border-radius: 0.5rem;
        position: absolute;
        bottom: -0.5rem;
        opacity: 0;
        transform: translatex(-1.5rem);
        transition: all 0.3s ease;

      }
      &:hover::before{
        width: 100%;
        transform: translatex(0);
        opacity: 1;
      }
    }
   
    }
    button{
      width: 100px;
      font-size: 0.9rem;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: linear-gradient(98deg,#a993fe 0%,#7e61e7 100%);
      padding:0.3rem 1.5rem;
      border: none;
      outline: 1.5px solid transparent;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: all 0.3 ease;
      &:hover{
          color: #a993fe;
          background: #0000;
          outline: 1.5px solid #a993fe;
      }
  }

  }


}
.menu-btn{
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2.5rem;
    height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #7e61e7;
  border: #fff solid 1.5px;
   display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    &:hover{
      color:#a993fe ;
    background: #0000;
    border: 1px solid #a993fe;
    }

  
 } 
 @media(max-width:768px){
  nav{
   display: block;
      }
  }